.container {
  position: relative;
  padding: 60px;
  height: calc(100vh - 110px) ;
  overflow: hidden;overflow-y: auto;
  background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.8) 12%,
      rgba(255, 255, 255, 0.1) 77%
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
@media only screen and (max-width: 1300px) {
  .container {
    height: calc(100vh - 150px) ;
    padding: 20px;
  }
}
